/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 palette sito
#07aeae blue table
#334b5c blue header
#f0835d orange button
#f2bc9d pink header
 */


.row::after {
  content: "";
  clear: both;
  display: table;
}

.container{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

body{
font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  height: 855px;

}

nav{
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.navbar{
  width: 100%;
  margin: 0 auto;
}


#navup{
  background-color: #f4f9fd;
  border-bottom: 1px solid rgb(44, 64, 81);
}

.center{
  width: 80%;
  margin: 0 auto;
}

#navdown{
  background-color: white;
}

.navleft{
  float: left;
}

.navleft img{
  vertical-align: middle;
}

.navright{
  float: right;
}

.navright2{
  height: 80px;
  line-height: 80px;
  margin: auto 0;
}

.navright2 ul li{
  padding-left: 10px;
}

nav div ul li{
  margin-right: 0;
  display: inline-block;
}

.button{
  border-radius: 5px;
}

.big{
  padding: 15px 23px;
}

.whitebt{
  background-color: white;
  border: 1px solid #fe775a;
  color: #fe775a;
}

.orangebt{
  background-color: #fe775a;
  color: white;
}

.fas.fa-search{
  color: #27b2c8;
  padding-right: 17px;
}

#jumbotron{
  background-image: url(../img/jumbotron.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #fef6ee;
  width: 100%;
  height: 695px;
  position: relative;
}

.content{
  padding-top: 77px;
  width: 80%;
  margin: 0 auto;
}

#jumbotron h1{
  font-size: 55px;
  font-weight: 500;
  width: 45%;
}

#jumbotron p{
  width: 52%;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5;
}

#jumbotron span{
  display: block;
  margin-top: 50px;
}

#jumbobar{
  background-color: #7bded2;
  border: 3px solid #33475c;
  border-left: 0;
  border-right: 0;
  height: 83px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#sfondoazzurro{
  background-color: #f4f9fd;
}

#cubeimg{
  display: block;
  width: 25%;
  margin: 0 auto;
  padding-top: 55px;
  position: relative;
}

.cubetext{
  padding-bottom: 20px;
}

.textcenter{
  text-align: center;
}

#blocktop{
  width: 80%;
  background-color: white;
}

.blocktopleft{
  width: 35%;
  float: left;
}

.blocktoprightinner{
  padding: 200px 0;
}

.blocktopleft img{
  text-align: center;
  width: 35%;
}

.blocktopright{
  float: left;
}

.blocktopright ul li{
  display: inline-block;
}

.fa-check-circle{
  color: #f0835d;
}

#containeraside{
  width: 80%;
  padding: 40px 0;
}

.aside:nth-child(2){
  margin: 0 5%;
}

.aside{
  width: 30%;
  background-color: white;
  text-align: center;
  float: left;
}

.aside img{
  width: 35%;
}

#sfondotabella{
  background-color: #07aeae;
  padding: 100px;
  color: white;
  text-align: center;
}

#sfondotabella p{
  padding-top: 40px;
  padding-bottom: 40px;
}

.table{
  width: 100%;
}

.square{
  width: 25%;
  float: left;
  border: 1px solid white;
}

#sponsor{
  width: 60%;
  margin: 30px auto;
}

.sponsorleft{
  float: left;
}

.sponsorright{
  float: right;
}

.sponsorimage{
  float: left;
}

.sponsorspace{
  width: 25%;
  display: inline-block;
}
